site_name: fakeartdetector
site_author: IoannisLeviEricTamas
docs_dir: source

theme:
  language: en
  name: material
  features:
    - content.code.copy
    - content.code.annotate

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [../src]
          options:
            show_root_heading: true
            separate_signature: true
            show_signature_annotations: true

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Workflows: workflows.md
  - API Reference:
      - fakeartdetector.data: reference/data.md
      - fakeartdetector.model: reference/model.md
      - fakeartdetector.train: reference/train.md
      - fakeartdetector.api: reference/api.md
      - fakeartdetector.evaluate: reference/evaluate.md
      - fakeartdetector.visualize: reference/visualize.md
