site_name: fakeartdetector
site_author: IoannisLeviEricTamas
docs_dir: source

theme:
  language: en
  name: material
  features:
    - content.code.copy
    - content.code.annotate
  palette:
    # Light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    # Dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [../src]
          options:
            show_root_heading: true
            separate_signature: true
            show_signature_annotations: true

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Workflows: workflows.md
  - API Reference:
      - Data: reference/data.md
      - Model: reference/model.md
      - Train: reference/train.md
      - Api: reference/api.md
      - Evaluate: reference/evaluate.md
      - Visualize: reference/visualize.md
      - Frontend: reference/frontend.md
      - ONNX Export: reference/onnx.md
      - Evidently Reports: reference/evidently.md
      - Tests: reference/tests.md
      - Configs: reference/configs.md
